extends ../template/layout

block content
  .row
    .small-12.columns
      img(src='/images/#{song.art}')
    .small-12.columns
      audio(src='/audios/#{song.filename}', controls=true)
      h4= song.title
      p= 'Song Duration: ' + song.duration
      ul Genre(s):
        each genre in song.genres
          li= genre
      p= 'Lyrics: ' + song.lyrics
      p= song.createdAt
  .row
    .small-12.columns
      form(action='/songs/#{song.id}', method='post')
        input(type='hidden', name='_method', value='delete')
        button.tiny.radius.alert(type='submit') Delete